.sponsorArea {
    padding: 120px 0px 95px;
    background: #fcf9ff;

    a{
        margin-bottom: 25px;
        display: block;
        border: 1px solid #e5e5e5;
        padding: 20px;
        img {
            
        }
    }
    
}