.bestOfferArea{
    padding: 120px 0px 90px;
    .offerWrap{
        height: 425px;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;
        @media (max-width:400px) {
            height: 380px;
        }
        .offerContent{
            position: absolute;
            left: 0;
            bottom: -72px;
            background: rgba(93,94,94,.85);
            text-align: center;
            width: 100%;
            padding: 30px 0px;
            transition: all .3s;
            h3{
                font-size: 24px;
                font-weight: 700;
                color: #fff;
                margin-bottom: 5px;
            }
            p{
                font-size: 18px;
                color: #fff;
                font-weight: 500;
                margin-bottom: 5px;
            }
            span{
                display: block;
                font-size: 15px;
                font-weight: 700;
                color: #fff;
                margin-bottom: 5px;
                del{
                    font-weight: 400;
                    margin-left: 10px;
                }
            }
            a{
                background: #fff;
                display: inline-block;
                padding: 8px 30px;
                margin-top: 15px;
                font-size: 16px;
                font-weight: 600;
                border-radius: 5px;
                &:hover{
                    background: #9acb56;
                    color: #fff;
                }
            }
        }
        &:hover{
            .offerContent{
                bottom: 0px;
            }
        }
        &.active{
            .offerContent{
                bottom: 0px;
            }
        }
    }
}