.footerArea {
    padding: 60px 0px;
    background: #f9f9f9;

    p {
        font-size: 16px;
        font-weight: 500;
        padding: 3px 0px;
        margin-bottom: 0;
    }

    .socialIcon {
        display: flex;
        justify-content: flex-end;
        @media (max-width:576px) {
            justify-content: center;
            margin-top: 20px;
        }
        li {
            margin-left: 15px;

            a {
                display: block;
                height: 30px;
                width: 30px;
                line-height: 27px;
                border-radius: 50%;
                color: #707070;
                border: 1px solid #6eacff;
                text-align: center;
                @media (max-width:576px) {
                    color: #fff;
                }
            }
        }
    }
    &.bookFooterArea{
        background: #5d5e5e;
        .socialIcon {
            display: flex;
            justify-content: flex-end;
            @media (max-width:576px) {
                justify-content: center;
                margin-top: 20px;
            }
            li {
                margin-left: 15px;
    
                a {
                    color: #fff;
                    border: 1px solid #e5e5e5;
                    font-size: 14px;
                }
            }
        }
    }
}