@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,400i,500,500i,600,700,900');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #5d5e5e;
  background: #fff;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
    height: auto
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 10px;
  }

  p {
    margin-top: 0;
  }

  input:focus,
  select:focus {
    outline: none;
  }

  input,
  button,
  img {
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }

  textarea:focus {
    outline: none;
  }

  a {
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    text-decoration: none;
    color: #5d5e5e;
  }

  a:active,
  a:hover,
  a:focus {
    outline: none;
    text-decoration: none;
  }

  button:focus {
    outline: none;
  }

  :before,
  :after {
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }

  i {
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }

  span {
    &.line {
      position: absolute;
      left: 50%;
      bottom: -4px;
      width: 35px;
      height: 4px;
      border-radius: 10px;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      background: linear-gradient(90deg, #8cf3fe 0%, #67a9ff 100%);
    }


    &.lineStyleTwo {
      display: inline-block;
      position: relative;
      z-index: 9;

      &::before {
        position: absolute;
        left: 0;
        top: 11px;
        width: 25%;
        height: 10px;
        content: "";
        background: #4095ff;
        z-index: -9;
        opacity: .75;
      }
    }
  }


  .readmoreBtn {
    display: inline-block;
    padding: 10px 40px;
    border: 2px solid #4095ff;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;

    &:hover {
      background: #4095ff;
      color: #fff;
    }
  }
  .bg-f9f9f9{
    background: #f9f9f9;
  }
  

  .loadmoreYoga{
        font-size: 18px;
        line-height: 28px;
        padding-left: 75px;
        position: relative;
        font-weight: 500;
        font-style: italic;
        &:hover{
            color: #00c6ff;
        }
        &::before,
        &:after{
            position: absolute;
            left: 0;
            top: 50%;
            width: 60px;
            height: 3px;
            background: #00c6ff;
            content: "";
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
        }
        &:after{
            height: 15px;
            width: 15px;
            left: 45px;
            border-radius: 50%;
            box-shadow: 0 0 0 #00c6ff50;
            animation: pushLoading 1.5s infinite;
        }
    }
    .ReactModal__Overlay.ReactModal__Overlay--after-open{
        z-index: 9999!important;
    }
}

@-webkit-keyframes pushLoading {
    0% {
        -webkit-box-shadow: 0 0 0 0 #00c6ff50;
    }

    70% {
        -webkit-box-shadow: 0 0 0 4px #00c6ff50;
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 #00c6ff50;
    }
}

@keyframes pushLoading {
    0% {
        -moz-box-shadow: 0 0 0 0 #00c6ff50;
        box-shadow: 0 0 0 0 #00c6ff50;
    }

    70% {
        -moz-box-shadow: 0 0 0 4px #00c6ff50;
        box-shadow: 0 0 0 4px #00c6ff50;
    }

    100% {
        -moz-box-shadow: 0 0 0 0 #00c6ff50;
        box-shadow: 0 0 0 0 #00c6ff50;
    }
}