.rastaurentFooterArea{
    padding: 50px 0;
    background: #f9f9f9;
    text-align: center;
    img{
        height: 40px;
        @media (max-width:767px) {
            height: 30px;
        }
    }
    p{
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 0;
    }
}